
<% layout('/layouts/boilerplate') %>

<div class="alert alert-danger width:80%" role="alert">
    <h4 class="alert-heading">Error!</h4>
    <p> Please make sure your image address is valid  
    </p>
    <hr>
   
  </div>