
<% layout('/layouts/boilerplate') %>

<div class="alert alert-danger width:80%" role="alert">
    <h4 class="alert-heading">Error!</h4>
    <p> Oh no, something went wrong   
    </p>
    <hr>
   
  </div>