<% layout('/layouts/boilerplate') %>
   
    <form action="/images" method="POST">
        <div>
            <label for="title"> Title </label>
            <input type="text" id="title" name="image[title]">

            <label for="description"> Image Description </label>
            <input type="text" id="description" name="image[description]">

            <label for="url"> Image Address </label>
            <input type="text" id="url" name="image[imageurl]">

            <button>Add Image!</button>
        </div>

    </form>

    <footer>
        <a href="/images"> All images</a>
    </footer>
